@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;400&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
/* NAVIGATION */
.header {
  background-color: #639d96;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
nav img {
  height: 80px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 40%;
}
.navigation ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation ul li a {
  text-decoration: none;
  color: #c4d3d2;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: capitalize;
}
/* PAGE-TITLE */
.page-title-cont {
  /* background-color: burlywood; */
  width: 100%;
  height: 25vh;
  background-image: url(./images/engin-akyurt-WQ5fGfFHGZ0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.overlay {
  background-color: #c4d3d23d;
  width: 100%;
  height: 100%;
  position: absolute;
}
.page-title {
  width: 45%;
  padding: 50px 40px;
}
.page-title h2 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #5b5b5b;
}
.underline {
  background-color: #56ada3;
  width: 60%;
  height: 2px;
}
/* MEET DR CHARLES */
.about img {
  width: 100%;
}
.drcharles-text,
.team-text {
  width: 75%;
  margin: 120px auto;
}
.drcharles-text p,
.team-text p {
  color: #8f8f8f;
  font-size: 1.1rem;
  line-height: 2.5;
}
/* FOOTER */
footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(180deg, transparent, rgb(102, 199, 216)); */
  padding-top: 80px;
}
footer h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 300;
}
footer img {
  width: 100%;
}
.brands {
  margin-top: 5px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.email {
  margin-top: 10px;
}
.follow {
  margin: 10px 0;
}

.sides {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fff;
}
.divider {
  width: 2px;
  height: 180px;
  background-color: rgb(255, 255, 255);
}
.copywrites p {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 60px;
  color: #fff;
}
.right-side span {
  color: rgb(156, 19, 19);
  font-weight: 500;
}
footer img {
  position: absolute;
  top: 0;
  z-index: -1;
}
footer {
  position: relative;
}
