@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;400&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
/* NAVIGATION */

.header {
  background-color: #639d96;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
nav img {
  height: 80px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 40%;
}
.navigation ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation ul li a {
  text-decoration: none;
  color: #c4d3d2;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: capitalize;
}
