@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;400&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-100px);
  height: 80px;
  cursor: pointer;
  z-index: 3;
}
.background {
  width: 100%;
  z-index: -1;
}
.main-header {
  position: relative;
}
.drcharles-first {
  height: 350px;
  position: absolute;
  bottom: -15px;
  right: 60px;
  z-index: 3;
}
.main-header-text {
  color: #ebebeb;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.main-header-text span {
  font-size: 2.5rem;
  font-weight: 200;
  display: block;
  margin-left: 80px;
}
.text-header {
  position: absolute;
  bottom: 80px;
  left: 50px;
  z-index: 3;
}
.main-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(100, 95, 95, 0.253) 10%,
    rgba(0, 0, 0, 0.35) 70%
  );
}
/* NAV */
nav {
  background-color: #c8dada;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 8vh;
  margin: auto;
}
nav ul li a {
  color: #747474;
  text-decoration: none;
}
nav ul li {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 2px 5px;
  transition: all ease 0.4s;
  border-radius: 3px;
}
nav ul li:hover {
  background-color: #c3cece;
}
/* FIRST SECTION */
.first-main {
  margin-top: 200px;
  background-color: #c4d3d2;
  display: flex;
  padding: 100px;
}
.first-main-content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.first-main img {
  height: 250px;
}
.title-text {
  background-color: #fff;
  height: 180px;
  width: 450px;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #07433c 18px 18px;
}
.title-text h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #07433c;
  text-align: center;
}
/* BOTTOM SECTION */

.bottom-section {
  background-image: radial-gradient(#ebf0efad 10%, transparent 0),
    radial-gradient(#ebf0efad 10%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.second-main-title {
  color: #05786a;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 60px auto;
  width: 40%;
}
.second-main-title h2 {
  text-align: center;
  line-height: 1.2;
}
.underline {
  background-color: #9fdad3;
  height: 3px;
  width: 40%;
  margin: auto;
}
/* WELCOME */
.welcome {
  margin-top: 200px;
}

.welcome-message {
  background-color: #c4d3d2;
  padding: 40px 20px;
  box-shadow: #56ada3 20px 20px;
  width: 70%;
  margin: 0px auto;
}
.welcome-message p {
  color: #696969;
  font-size: 1.3rem;
  line-height: 2.6;
  font-weight: 200;
  text-align: center;
}
/* MISC */

.misc {
  margin-top: 200px;
  display: flex;
}
.misc img {
  width: 30%;
}
.misc-text {
  background-color: #c4d3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.misc-text p {
  width: 60%;
  margin: auto;
  font-size: 1rem;
  font-weight: 200;
  line-height: 2.6;
  color: #5b5b5b;
  text-align: center;
  text-transform: uppercase;
}
/* TESTIMONIES */
.testimonial-title {
  color: #05786a;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 100px auto;
  width: 40%;
}
.testimonial-title h2 {
  text-align: center;
  line-height: 1.2;
}
.testimonial-text {
  width: 48%;
  margin: auto;
}
.testimonial-text p {
  line-height: 2.6;
  text-align: center;
}
.testimonial {
  margin-top: 150px;
  position: relative;
}
.testimonial button {
  background: none;
  font-size: 2rem;
  color: #549b93;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
}
.testimonial .prev {
  top: 66%;
  left: 170px;
}
.testimonial .next {
  top: 66%;
  right: 170px;
}
/* COVID UPDATE */
.covid-update {
  margin-top: 200px;
  background-color: #c4d3d2;
  padding: 120px 14px;
  position: relative;
}
.covid-icons i {
  position: absolute;
  font-size: 6.5rem;
  color: #91a8a6;
}
.covid-icons .fa-lungs-virus {
  top: 50%;
  right: 20px;
}
.covid-icons .fa-viruses {
  top: 5px;
  left: 50%;
}
.covid-icons .fa-head-side-mask {
  bottom: 0px;
  left: 0px;
}
.covid-update p {
  font-size: 0.9rem;
  line-height: 34px;
  color: #5b5b5b;
}
.covid-top-title {
  color: #05786a;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 30%;
}
.covid-top-title h2 {
  text-align: center;
  line-height: 1.2;
}
.covid-bottom-title {
  color: #05786a;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 40%;
}
.covid-bottom-title h2 {
  text-align: center;
  line-height: 1.2;
}
.covid-underline {
  height: 2px;
  width: 30%;
  background-color: #56ada3;
}
.covid-top p {
  margin: 20px 0 0 60px;
  width: 60%;
}
.covid-bottom {
  margin-top: 50px;
  margin-left: 370px;
}
.covid-bottom p {
  width: 80%;
  margin: 20px 0 0 60px;
}
/* FOOTER */

footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(180deg, transparent, rgb(102, 199, 216)); */
  padding-top: 80px;
}
footer h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}
footer img {
  width: 100%;
}
.email {
  margin-top: 10px;
}
.follow {
  margin: 10px 0;
}
.brands {
  margin: 5px 0;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.sides {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fff;
}
.divider {
  width: 2px;
  height: 180px;
  background-color: rgb(255, 255, 255);
}
.copywrites p {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 60px;
  color: #fff;
}
.right-side span {
  color: rgb(156, 19, 19);
  font-weight: 500;
}
footer img {
  position: absolute;
  top: 0;
  z-index: -1;
}
footer {
  position: relative;
}
